@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

.noSelect{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus{
    outline:none !important;
}
body{
    background-color: rgb(15, 15, 15);
}

.videos_container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min(240px,300px),1fr));
    gap:2rem 1rem;
    margin-top:5.5rem;
    margin-right:1.6rem;
    margin-left:6.2rem;
    margin-bottom:3rem;
    justify-content: center;
    z-index:0;
    -webkit-tap-highlight-color: transparent;
}

.video_thumbnail_container{
    position:relative;
    margin-bottom:0.4rem;
    position:relative;
}

.vid_time_display{
    position:absolute;
    inset :auto 4px 8px auto;
    background-color: rgba(0,0,0,0.7);
    color:white;
    font-size:0.84rem;
    font-weight:500;
    padding:0.12rem 0.25rem;
    padding-bottom:0.14rem;
    border-radius:0.2rem;
}

.video_thumbnail{
    width:100%;
    border-radius: 0.6rem;
    object-fit: contain;
}

.video_details_container{
    display:flex;
}

.channel_logo{
    display:block;
    border-radius: 50%;
    width: 2.5rem;
    height:2.5rem;
}

.video_description_container{
    flex:1;
    padding-left:0.6rem;
}

.channel_name{
    margin-top:0.5rem;
}

.video_title{
    color:white;
    max-width:84%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size:0.9rem;
    font-weight:500;
    line-height: 1.4rem;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.channel_name{margin-bottom:0.17rem;}

.channel_name,
.video_performance{
    color:rgb(170,170,170);
    font-size:0.8rem;
    word-wrap: break-word;
}

.video_container{
    position:relative;
    cursor:pointer;
    transition: background-color 200ms;
    border-radius: 0.2rem;
    padding:0.2rem;
    padding-bottom:0.4rem;
    overflow:hidden;
}

.video_container:active{
    background-color: rgb(39, 39, 39);
}

.video_container:hover .watch_later_popup,
.video_container:hover .add_playlist_popup,
.video_container:hover .dots_popup{
    opacity:1;
}
.video_container .watch_later_popup,
.video_container .add_playlist_popup,
.dots_popup
{
    width:1.9rem;
    height:1.9rem;
    position:absolute;
    opacity:0;
    transition:opacity 50ms ease-out;
    clip-path: inset( -100vw 0 -100vw -100vw );
}

.watch_later_popup,
.add_playlist_popup{
    padding:0.31rem;
    border-radius: 0.3rem;
    background-color:rgba(0, 0, 0, 0.87);
    z-index:2;
}

.watch_later_popup{
    right:0.3rem;
    top:0.3rem; 
}

.add_playlist_popup{
    right:0.3rem;
    top: 2.6rem;
    padding:0.3rem;
    padding-left:0.4rem;
    padding-top:0.4rem;
    
}

.dots_popup{
    bottom:-1.6rem;
    right:0.1rem;
    width: 1rem;
    height:1rem;
}


.watch_later,
.add_icon,
.dots_img{
    width:100%;
    height:100%;
}

.watch_later_popup .background,
.add_playlist_popup .background{
    position:absolute;
    inset:0;
    border-radius: 0.3rem;
    z-index:-1;
    background-color: black;
    opacity:0;
    transition:opacity 250ms;
}

.watch_later_popup .hover_popup,
.add_playlist_popup .hover_popup{
    position:absolute;
    display:flex;
    white-space: nowrap;
    top:0;
    left:0;
    font-size:0.8rem;
    color:white;
    background:black;
    height:1.9rem;
    align-items: center;
    padding-left:0.4rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    z-index:-2;
    opacity:0;
    transition-delay:0.4s;
    transition:transform 250ms,
    opacity 250ms;
}

.add_playlist_popup .hover_popup{
    left:1px;
    padding-right:1px;
}
.watch_later_popup:hover .background,
.watch_later_popup:hover .hover_popup,
.add_playlist_popup:hover .background,
.add_playlist_popup:hover .hover_popup{
    opacity:1;
    transition-delay:0.4s;
} 

.watch_later_popup:hover .background,
.add_playlist_popup:hover .background{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.watch_later_popup:hover .hover_popup,
.add_playlist_popup:hover .hover_popup{
    transform: translateX(-100%);
}

@media (max-width:640px){
    .videos_container{
        grid-template-columns: 1fr 1fr;
    }  
}

@media (max-width:550px){
    .videos_container{
        grid-template-columns:1fr;
    }

}

@media (min-width:1313px){
    .videos_container{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));;
    }
}

@media (min-width:1650px){
    .channel_name,
    .video_performance{
        font-size:0.85rem;
    }

    .video_title{
        font-size:.95rem;
    }

    .video_thumbnail_container{
        margin-bottom:0.45rem;
    }
}